.top {
    padding-top: 15px;
    padding-bottom: 15px;
}
.button-styles {
  color: #326295;
  font-style: normal;
  font-weight: 750;
  text-transform: uppercase;
  font-size: 13px;
}
.item-styles {
  background: #326295;
  margin-bottom: 2%;
}
.menu-styles {
  background: #326295;
}