
<div class="row top">
    <div class="col-md-3 text-center">
      
      <button md-button [matMenuTriggerFor]="torneos" class="button-styles">Torneos</button>
      <md-menu #torneos="mdMenu" [overlapTrigger]="false" panelClass=menu-styles>
        <a md-menu-item routerLink="/nuevoTorneo" class="item-styles">Nuevo torneo</a>
        <a md-menu-item routerLink="/listadoTorneos" class="item-styles">Listado torneos</a>
      </md-menu>

    </div>

    <div class="col-md-3 text-center">
      
      <button md-button [matMenuTriggerFor]="equipos" class="button-styles">Equipos</button>
      <md-menu #equipos="mdMenu" [overlapTrigger]="false" >
        <a mat-menu-item routerLink="/nuevoEquipo" class="item-styles">Nuevo equipo</a>
        <a mat-menu-item routerLink="/listadoEquipos" class="item-styles">Listado equipos</a>
      </md-menu>
           
    </div>
        
    <div class="col-md-3 text-center">
            
      <button md-button [matMenuTriggerFor]="jugadores" class="button-styles">Jugadores</button>
      <md-menu #jugadores="mdMenu" [overlapTrigger]="false" >
        <a mat-menu-item routerLink="/nuevoJugador" class="item-styles">Nuevo jugador</a>
        <a mat-menu-item routerLink="/listadoJugadores" class="item-styles">Listado jugadores</a>
      </md-menu>
    
    </div>

    <div class="col-md-3 text-center">
      
      <button md-button [matMenuTriggerFor]="partidos" class="button-styles">Partidos</button>
      <md-menu #partidos="mdMenu" [overlapTrigger]="false" >
        <a mat-menu-item routerLink="/nuevoPartido" class="item-styles">Nuevo partido</a>
        <a mat-menu-item routerLink="/listadoPartidos" class="item-styles">Partidos programados</a>
        <a mat-menu-item routerLink="/listadoPartidosActivos" class="item-styles">Partidos activos</a>
      </md-menu>

    </div> 

</div>

