<hr>
<h2 class="title">Nuevo Equipo</h2>
<hr>
<div class="container altura-cont">
  <div class="row">
    <div>
        <form (ngSubmit)="altaEquipo()" name="altaEquipo" action="#">
            <md-form-field class="form-inputs">
                <input mdInput name="nombre" placeholder="Nombre del Equipo" type="text" [(ngModel)]="equipo.nombre" required>
            </md-form-field>
            <md-form-field class="form-inputs">
                <input mdInput name="tecnico" placeholder="Nombre del Técnico" type="text" [(ngModel)]="equipo.tecnico">
            </md-form-field>
            <md-form-field class="form-inputs">
              <input mdInput name="escudo" placeholder="URL del Escudo" type="text" [(ngModel)]="equipo.escudo">
          </md-form-field>
            <md-select [(ngModel)]="equipo.estadios[0]" class="btn btn-primary select-form" placeholder="Estadio" name="estadio">
              <md-option *ngFor="let estadio of estadios" [value]="estadio._id">
                {{ estadio.nombre }}
              </md-option>
            </md-select>
          <md-select [(ngModel)]="equipo.torneos[0]" class="btn btn-primary select-form" placeholder="Torneo" name="torneo">
            <md-option *ngFor="let torneo of torneos" [value]="torneo._id">
              {{ torneo.nombre }}
            </md-option>
          </md-select>
            <button md-button type="submit" class="submit-styles">
                Crear
            </button>
        </form>
    </div>
  </div>
</div>