<div *ngIf="!modificacion; else ElseBlock">
    <hr>
    <h2 class="title">Nuevo Jugador</h2>
    <hr>
    <div class="container altura-cont">
        <div class="row">
            <form (ngSubmit)="altaJugador()" name="altaJugador" action="#">
                <md-form-field class="form-inputs">
                <input mdInput name="nombre" placeholder="Nombre del jugador" type="text" [(ngModel)]="jugador.nombre" required>
                </md-form-field>
                <md-form-field class="form-inputs">
                <input mdInput name="edad" placeholder="Edad del jugador" type="number" [(ngModel)]="jugador.edad" required>
                </md-form-field>
                <md-form-field class="form-inputs">
                <input mdInput name="logo" placeholder="URL Imagen del Jugador" type="text" [(ngModel)]="jugador.imagen" required>
                </md-form-field>
                <md-select [(ngModel)]="jugador.equipo" class="btn btn-primary select-form" placeholder="Equipo" name="equipo">
                <md-option *ngFor="let equipo of equipos" [value]="equipo._id">
                {{ equipo.nombre }}
                </md-option>
                </md-select>
                <a md-button (click)="altaJugador()" class="submit-styles" routerLink="/principal">
                Crear
                </a>
            </form>
        </div>
    </div>
</div>
<ng-template #ElseBlock>
    <hr>
    <h2 class="title">Modificación de un Jugador</h2>
    <hr>
    <div class="container altura-cont">
        <div class="row">
            <form (ngSubmit)="editarJugador()" name="altaJugador" action="#">
                <md-form-field class="form-inputs">
                <input mdInput name="nombre" placeholder="Nombre del jugador" type="text" [(ngModel)]="jugador.nombre" required>
                </md-form-field>
                <md-form-field class="form-inputs">
                <input mdInput name="edad" placeholder="Edad del jugador" type="number" [(ngModel)]="jugador.edad" required>
                </md-form-field>
                <md-form-field class="form-inputs">
                <input mdInput name="logo" placeholder="URL Imagen del Jugador" type="text" [(ngModel)]="jugador.imagen" required>
                </md-form-field>
                <md-select [(ngModel)]="jugador.equipo" class="btn btn-primary select-form" placeholder="{{jugador.equipo.nombre}}" name="equipo">
                <md-option *ngFor="let equipo of equipos" [value]="equipo._id">
                {{ equipo.nombre }}
                </md-option>
                </md-select>
                <a md-button (click)="editarJugador()" class="submit-styles" routerLink="/principal">
                Modificar
                </a>
            </form>
        </div>
    </div>
</ng-template>  
