<div class="cont">
    <md-form-field class="example">
        <input mdInput (input)="onSearchChange($event.target.value)" (blur)="onBlur()" placeholder="Buscar torneo">
    </md-form-field>
</div>
<div *ngIf="items[0]" class="lista">      
        <div *ngFor="let item of items; let i=index">
            <div *ngIf="i<5">
                <img class='mini' src='{{item.logo}}' alt="">
                <a (click)="onBlur()" routerLink="/detalleTorneo/{{item._id}}">
                    {{item.nombre}}
                </a>
                <hr>
            </div>
        </div>
</div>