<hr>
<h2 class="title">Listado de Equipos</h2>
<hr>
<div class="container altura-cont">
  <div *ngIf="equipos && equipos[0].nombre; else ElseBlock">
    <div class="row">
        <table class="table table-hover col-md-8">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Torneo</th>
              <th>Estadio</th>
              <th>Tecnico</th>
              <th>Partidos Jugados</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let equipo of equipos">
              <td><img src="{{equipo.escudo}}" class="escudo" /> <a routerLink="/detalleEquipo/{{equipo._id}}">    {{equipo.nombre}}</a></td>
              <td>{{equipo.torneo.nombre}}</td>
              <td>{{equipo.estadio.nombre}}</td>
              <td>{{equipo.tecnico}}</td>
              <td>{{equipo.partidos_jugados}}</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>
<ng-template #ElseBlock>
		<h3 class="cargando-equipo">Cargando Equipos</h3>
		<img class="cargando-imagen" src="../../assets/cargando.gif" alt="cargando">
</ng-template>

