<hr>
<h2 class="title">Listado de Torneos</h2>
<hr>
<div class="container altura-cont">
  <div *ngIf="torneos && torneos[0].nombre; else ElseBlock">
    <div class="row">
        <table class="table table-hover table-edited">
          <thead>
            <tr>
              <th class="th-edited">Torneo</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let torneo of torneos">
              <td><img src="{{torneo.logo}}" class="logo"/><a routerLink="/detalleTorneo/{{torneo._id}}">{{torneo.nombre}}</a></td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>
<ng-template #ElseBlock>
  <h3 class="cargando-torneo">Cargando Torneos</h3>
  <img class="cargando-imagen" src="../../assets/cargando.gif" alt="cargando">
</ng-template>

