.title {
    text-align: center;
    color: #326295
}
.altura-cont {
    min-height: 660px;
}
.table-edited {
    width: 50%;
    margin-left: 25%;
    margin-top: 1%;
    margin-bottom: 1%;
}
.th-edited {
    text-align: center;
}
.logo {
    width: 40px;
    height: 40px;
}
.cargando-torneo {
    text-align: center;
  }
  
.cargando-imagen {
    height: 50px;
    position: relative;
    left: 50%;
    margin-left: -25px;
    margin-bottom: 50px;
  }