.detalle-title-equipo {
    text-align: center;
    margin-top: 5%;  
}
.detalle-title-versus {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    margin-top: 4%;
}
.detalle-img {
    width: 190px;
    height: 150px;
    margin-top: 1%;
}
.detalle-title {
    margin-top: 3%;
    margin-bottom: 2%;
    text-align: center;
    font-size: 48px;
}
.detalle-eventos {
    width: 100%;
    margin-left: 30%;
    margin-top: 3%;
    margin-bottom: 1%;
}
.detalle-else {
    margin-top: 5%;
    margin-left: 1%;
    color: red;
    font-size: 19px;
}
.title {
    text-align: center;
    color: #326295
}
.cargando-partido {
    text-align: center;
  }
  
.cargando-imagen {
    height: 50px;
    position: relative;
    left: 50%;
    margin-left: -25px;
    margin-bottom: 50px;
  }
  .logo {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.form-inputs{
    width: 60%;
    opacity: 1;

  }
  :host /deep/ .mat-input-placeholder {
    color: #326295;
 }
 
:host /deep/ .mat-input  {
    border-color: black;
}
:host /deep/ .mat-form-field-underline {
    background: #326295;
}
.submit-styles {
    font-size: 16px;
    opacity: .8;
    background: #326295;
    color: white;
}
.submit-styles:hover {
    opacity: 1;
}
.altura-cont {
    min-height: 660px;
}
.select-form {
    width: 25%;
    border: 10px;
    margin-bottom: 3%;
}